
/* ==== HOME ==== */
main{
    text-align: center;
    width: 100% ;
    height: auto;
    
}

#daenerys1{
    width: 100%;
    height: 1100px;
    color: white;    background: linear-gradient(0deg, rgba(0,0,0,1) 19%, rgba(164,164,164,1) 100%);

   
}

/* ==== Aparencia ==== */

#aparencia{
    width: 100%;
    height: 700px;
    color: white;
    background: linear-gradient(0deg, rgba(164,164,164,1) 8%, rgba(0,0,0,1) 69%);
}

.imagem img{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 10%;
    float: left;
    border-radius:180px;
}
.dani{
    height: 700px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 20%;
   text-align: center;

}
h2{
    width: 100%;
    height: 40px;
    color: white;
    background-color: darkred;
}
.dani6{
    float: right;
    margin-left: 150px;
    margin-right: 50px;
}
.apa{
    text-align: justify;
    margin: 0px 100px;
}

/* ==== Personalidade ==== */

#personalidade{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(164,164,164,1) 98%);
    padding-bottom: 20px;
}

.perso{
    text-align: justify;
    margin: 0px 200px;
    
}

/* ==== História ==== */

#historia{
    width: 100%;
    height: 1200px;
    background: rgb(75, 73, 73);
    background: linear-gradient(0deg, rgb(90, 89, 89) 1%, rgba(0,0,0,1) 70%);
    color: white;
    padding-bottom: 20px;
}
.hist{
    width: 1000px ;
    
    text-align: justify;
    float: left;
    margin: 0px 50px;
   
}
.image{
    width: 300px;

    float:left ;
}

h5{
    text-align: center;
}

/* ==== Dragões ==== */

#dragoes{
    width: 100%;
    height: 1160px;
    background: rgb(77, 74, 74);
    color: white;
    
}

.drag{
    text-align: justify;
    margin: 0px 200px;
}
/* ==== Carrossel ==== */

.carousel-caption{
    text-shadow: 20px;
}

img{
    margin: 10px;
}
/* ==== Footer ==== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
    position: relative;
    width: 100%;
    background: #920000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }






